spring:
  datasource:
    url: jdbc:mysql://localhost:3306/family_eats?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root
  
  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0

logging:
  level:
    root: info
    com.familyeats: debug
    com.baomidou.mybatisplus: debug
